/* Override global theme constants or define new ones here */

$v-background-color: #FAFAFA;				/* component background colour */
$v-app-background-color: #E6E6E6;			/* application background colour */
$v-focus-color: #255ba7;					/* focused element colour */
$v-font-size: 13px;							/* font size */
$v-font-weight: 400;						/* font weight */
$v-layout-spacing-vertical: 5px;			/* spacing between components in a container (if enabled) */
$v-layout-margin-top: 5px;
$cuba-sidemenu-layout-collapse-enabled:true;
$cuba-sidemenu-layout-expanded-width: 190px

